<% include header.html %>

<div class="row">
  <p>
    Please login to Jawbone using the user's Jawbone account credentials to 
    download that user's activity and sleep data.
  </p>
  <a href="/adaptup/login/jawbone" class="btn btn-primary">Jawbone login</a>
</div>

<% include footer.html %>